@import "tailwindcss";

@theme {
    --color-primary: #333;
    --color-secondary-400: #A0A5AC;
    --color-secondary-300: #E7E9ED;
    --color-secondary-200: #F8F8F8;

    --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  }